/* https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F:%D0%A2%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0_%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2	*/

body{
	background: #3e3a3a url(../tex/500.jpg);
	margin:8px;
}


.header{
	background: #C0C0C0 url(../tex/metal-texture.jpg);
}

.header>h1{
	position: absolute; 
	top: 40px;
	left: calc(40% + 8px);
	font-size: 48px;
	padding-right: 20px;
}

span{
	display: inline;
	float: right;
	padding: 8px;
	user-select: none;
}
span>a{

	text-decoration: none;
	color: blue;
	font-weight: bold;
	border-style: ridge;
	border-width: 1px;
	border-color: #708090;
	user-select: none;
}

.menu1{
	text-align: center;
	background: #3e3a3a url(../tex/650..jpg);

}

.menu1>li{
	display: inline;
	font-size: 24px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #D3D3D3;
	border-style: outset;
}

.menu1>li>a{
	text-decoration: none;
	color: black;
}

.menu1>li>a:hover{
	text-decoration: underline;
	color: #000080;
}

.main{
	border-style: dotted;
	border-width: 3px;
	margin: 0px auto;
	max-width: 1080px;
	min-width: 750px;
}

aside{
	width: 180px;
	max-width: : 180px;
	min-width: 180px;
	background: #808080 url(../tex/metal-plate.jpg);
	text-align: center;
	color: white;
}


.MM{
	display: flex;
}

.sideL{
}

main{
	padding: 30px;
	width: 40em;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color:#A9A9A9;
	border-style: solid;

}

.sideR{

}
footer{
	background: #A9A9A9 url(../tex/stainless-steel.jpg);
	clear:both;
	margin-top: 10px; 
	text-align: center;
}

footer>a{
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-weight: bolder;
}


.titleS{
	margin-bottom: 8px;
}

.titleS>div{
	background:  #3e3a3a url(../tex/dark-metal-texture.jpg);
	padding: 3px 0px ;
	font-weight: bolder;
	font-size: 18px;
 	 text-align: center;
	margin-bottom: 6px;
}

.titleS>div>a{
	color: white;
	text-decoration: none;
}

.titleS>ol{

  	padding-left: 24px;
}

.titleS>ol>li{
	list-style-type:none;
  	text-align: left;
  	font-weight: bold;
}

.titleS a{
	color:white;
	text-decoration: none;
}

</* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->*/

#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;

}
#calendar2 thead tr:last-child {
  font-size: small;
  color: white;
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: #FF4500;
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: white;
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
}

</* !--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->*/

